@import '../../styles/variables.scss';

.aboutUs {
    &__img {
        width: 100%;
    }

    &__hero {
        background-color: $peach;
        color: $white;
        text-align: center;
    }
    
    &__section {
        text-align: center;

        &--text {
            padding: 2rem;
            background-image: url('../../assets/about/desktop/bg-pattern-hero-about-desktop.svg');
            background-size: 45%;
            background-color: $lightest-peach;
            margin-top: -1rem;
        }

        &.realDeal {
            margin-bottom: 5rem;
        }
    }

    &__heading {
        color: $peach;
    }

    &__text {
        font-size: 1.25rem;
    }
}


// Tablet
@media only screen and (min-width: 768px) {
    .aboutUs {
        &__section {
            margin-bottom: 2rem;
            border-radius: 20px;

            &--text {
                border-radius: 0 0 20px 20px;
            }
        }

        &__img {
            border-radius: 20px 20px 0 0;
        }
    }
}
// Desktop
@media only screen and (min-width: 1280px) {
    .aboutUs {

        &__section {
            display: flex;
            flex-direction: row;

            &--text {
                border-radius: 0 20px 20px 0;
                text-align: left;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .hero {
                text-align: left;
            }
        }

        &__img {
            border-radius: 20px 0 0 20px;
            width: auto;
        }
    }
    
}