@import 'variables.scss';

* {
    font-family: $font-family;
}

body {
    margin: 0;
}

.hide {
    display: none !important;
}

.btn {
    padding: 1.25rem 2rem;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: $white;
    border: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: $dark-grey;

    &--dark {
        background-color: $peach;
        color: $white;
    }

    &:hover {
        cursor: pointer;
        background-color: $light-peach;
    }
}

.heading {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 3rem;

    &--sub {
        font-size: 2.5rem;
    }
}

.form {
    &--label {
        display: none;
    }

    &--input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $grey;
        color: $white;
        padding: .25rem;

        &::placeholder {
            color: $grey;
            
        }

        &:focus {
            outline: none;
            border-color: $white;
        }
    }
}