$peach: #E7816B;
$light-peach: #FFAD9B;
$lightest-peach: #FADBD3;
$black: #1D1C1E;
$dark-grey: #333136;
$grey: #D6D6D6;
$light-grey: #F1F3F5;
$white: #FFF;

$font-family: 'Jost', sans-serif;
